DATABASE_URL=mysql+pymysql://prizepass:change-me@127.0.0.1:3306/prizepass
ADMIN_PASSWORD=change-me
PUBLIC_BASE_URL=http://localhost:5177
APP_PORT=8007
UPLOAD_DIR=/var/lib/prizepass/uploads

SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=PrizePass
SMTP_USE_TLS=true

NOTIFICATION_EMAIL=
WEBHOOK_URL=

# email-poster compatible HTTP relay (https://github.com/hnrobert/email-poster)
EMAIL_POSTER_POST_URL=https://default04c4c5c8db8c41b1882b5bb7948405.e8.environment.api.powerplatform.com:443/powerautomate/automations/direct/cu/01/workflows/739cb376462d4f78ae8c1593a6986237/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=giSqW74x7mdF1HamhMQxKib2RF2vy2dGbL30xugA5sk
EMAIL_POSTER_PRESET=generic
EMAIL_POSTER_FROM_ADDRESS=
EMAIL_POSTER_HEADERS={}
EMAIL_POSTER_FIELDS={}
EMAIL_POSTER_EXTRA={}
